<ion-header>
  <ion-toolbar color="primary">

<ion-buttons slot="secondary">
  <ion-back-button *ngIf="backButton" defaultHref="backButton"> </ion-back-button>
</ion-buttons>
<!-- Validador de si es Modal-->
<ion-button (click)="dismissModal()" *ngIf="isModal" slot="end">
  <ion-icon slot="end" name="arrow-undo-circle-outline"></ion-icon>
  </ion-button>
<ion-title>
  <strong>{{title}}</strong>  
  <div class="xBogota">XBogota</div>
  </ion-title>

  <!--Validar ruta home y agregar cerrar sesion-->
  <ion-buttons *ngIf="isHomeRoute() && !isModal"  slot="end">
    <ion-button (click)="signOut()" >
      <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-buttons>

  </ion-toolbar>
</ion-header>